---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>HyperContent.AI</h1>
			<p>
				Hyper-Personalization Delivered at scale.
			</p>
			
			<p>
				Interested in learning more, we would love to hear form you.  Drop us a note at <a href="mailto:info@hypercontent.ai">info@hypercontent.ai</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
